.page-about {
    background-color: #373a40;
}

.about-catchphrase {
    width: 70%;
    font-size: 35px;
    word-break: keep-all;
}

.profile-img {
    border: solid 5px white;
    border-radius: 15px;
    box-shadow: gray 15px 15px 15px;
}
