.page-skils {
    background-color: #9fa0a3;
}

.skils-box {
    display: flex;
    flex-direction: column;
}

.skils-box-title {
    font-size: 25px;
    background-color: #373a40;
    padding: 8px 15px;
}

.skils-box-content-box {
    display: flex;
    padding: 10px 15px;
    background-color: #eeeeee;
}

.skils-box-content {
    margin-right: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skils-box-stack-icon {
    margin-right: 15px;
    max-height: 80px;
}

.skils-box-stack-info {
    color: black;
    font-size: 20px;
    text-shadow: none;
}

.skils-box-stack-info-details {
    color: black;
    margin-left: 15px;
}
