.page-contact {
    background-color: white;
    color: #dd4a68;
}

.contact-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text {
    font-size: 3rem;
    margin: 6.5rem 1.2rem;
}

.contact-catchphrase {
    font-size: 1.112rem;
    opacity: 0.5;
}

.contact-link-box {
    display: flex;
    justify-content: space-between;
}

.go-top-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100%;
    width: 50px;
    height: 50px;
    border: 3px solid #dd4a68;
    border-radius: 12px;
    cursor: pointer;
    z-index: 999;
}

.go-top-button-icon {
    position: absolute;
    font-size: 1.55rem;
    font-family: "Blacksword";
    color: black;
}

@include mobile {
    .contact-text {
        font-size: 1.26rem;
        margin: 30px 10px;
    }

    .contact-catchphrase {
        font-size: 0.9rem;
    }
}

@include tablet {
}
