.page-contact {
    background-color: white;
    color: #dd4a68;
}

.contact-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-text {
    font-size: 3rem;
    margin: 2rem 2rem 0 2rem;
    text-decoration-line: none;
    color: black;
    transition: 0.3s ease-in-out;

    &:hover {
        color: #dd4a68;
    }
}

.contact-content-box {
    &:hover {
        color: #dd4a68;
    }
}

.contact-text {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        color: #dd4a68;
    }
}

.fa-github,
.fa-bold,
.fa-file,
.fa-globe-asia {
    margin-right: 0.5rem;
}

.contact-catchphrase {
    font-size: 1.112rem;
    opacity: 0.5;
    margin: 5rem;
}

.contact-link-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.go-top-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 75vw;
    top: 25vh;
    width: 50px;
    height: 50px;
    border: 3px solid #dd4a68;
    border-radius: 12px;
    cursor: pointer;
    z-index: 999;
}

.go-top-button-icon {
    position: absolute;
    font-size: 1.55rem;
    font-family: "Blacksword";
    color: black;
}

@include mobile {
    .contact-text {
        font-size: 1rem;
    }

    .email-text {
        font-size: 2.2rem;
    }

    .contact-catchphrase {
        font-size: 0.8rem;
        margin: 4rem 0;
    }

    .go-top-button-container {
        left: 63vw;
        top: 15vh;
    }
}

@include tablet {
}
