@import "../components/Menu";

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 25px;
}

.name {
    margin-right: 40px;
    font-size: 2.112rem;
    min-width: fit-content;
    cursor: pointer;

    transition: 0.3s ease-in-out;

    &:hover {
        color: black;
    }
}

.navigation-container {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

.navigation-text {
    margin: 0.6rem;
    font-size: 1.112rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        color: black;
    }
}

.fa-bars {
    display: none;
}

@include mobile {
    .header-container {
        align-items: center;
    }

    .name {
        font-size: 1rem;
        margin-right: 0;
    }

    .navigation-container {
        display: none;
    }

    .fa-bars {
        display: inline-block;
        font-size: 2rem;
        cursor: pointer;
    }
}

@include tablet {
    .name {
        font-size: 1.8rem;
    }

    .navigation-text {
        margin: 0.6rem;
        font-size: 0.9rem;
    }
}
