.page-title {
    color: #dd4a68;
    font-size: 50px;
    border-bottom: 5px solid white;
    padding-bottom: 5px;
}

.page-container {
    display: flex;
    justify-content: space-between;
    text-shadow: gray 5px 5px 5px;
}
