@import "../components/Arrow";

.page-project {
    background-color: #373a40;
}

.project-container {
    background-color: #9fa0a3;
    padding: 40px;
}

.project-title {
    color: white;
    background-color: #9fa0a3;
    padding: 15px;
    margin-bottom: 0;
}

.project-content-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eeeeee;
    padding: 35px;
    min-height: 50vh;

    @media (max-width: 1300px) {
        flex-direction: column;
    }
}

.project-thumbnail {
    min-width: 480px;
    min-height: 270px;
    max-width: 480px;
    max-height: 270px;
    background-color: #dd4a68;
}

.project-content {
    color: black;
    font-size: 1.2rem;
    margin: 15px;
}

.project-stack-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project-stack-box {
    display: flex;
    align-items: center;
    margin: 15px;
}

.project-stack-icon {
    width: 50px;
    height: 50px;
    background-color: #dd4a68;
    margin-right: 5px;
}

.project-list-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;

    .fa-door-closed,
    .fa-door-open {
        padding: 2.2rem;
    }
}

@include mobile {
    .project-thumbnail {
        margin: 0 auto;
        min-width: 170px;
        max-width: 170px;
        min-height: 95.625px;
        max-height: 95.625px;
    }

    .project-content {
        font-size: 0.8rem;
    }

    .project-stack-icon {
        width: 30px;
        height: 30px;
    }
}

@include tablet {
    .project-thumbnail {
        margin: 0 auto;
        min-width: 370px;
        min-height: 208.125px;
        max-width: 370px;
        max-height: 208.125px;
    }
}
