.project-page {
    background-color: #373a40;
}

.project-container {
    background-color: #9fa0a3;
    padding: 40px;
}

.project-title {
    color: white;
    background-color: #373a40;
    padding: 15px;
    margin-bottom: 0;
}

.project-content-box {
    display: flex;
    justify-content: flex-start;
    background-color: #eeeeee;
    padding: 35px;
}

.project-thumbnail {
    min-width: 370px;
    min-height: 208.125px;
    max-width: 370px;
    max-height: 208.125px;
    background-color: #dd4a68;
}

.project-content {
    color: black;
    font-size: 18px;
    margin: 15px;
}

.project-stack-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project-stack-box {
    display: flex;
    align-items: center;
    margin: 15px;
}

.project-stack-icon {
    width: 50px;
    height: 50px;
    background-color: #dd4a68;
    margin-right: 5px;
}

@include mobile {
    .project-thumbnail {
        margin: 0 auto;
        min-width: 170px;
        max-width: 170px;
        min-height: 95.625px;
        max-height: 95.625px;
    }

    .project-content-box {
        flex-direction: column;
    }
}

@include tablet {
    .project-thumbnail {
        margin: 0 auto;
        min-width: 370px;
        min-height: 208.125px;
        max-width: 370px;
        max-height: 208.125px;
    }

    .project-content-box {
        flex-direction: column;
    }
}
