.page-skills {
    background-color: #9fa0a3;

    h1 {
        margin-bottom: 1.2rem;
    }
}

.skills-box {
    display: flex;
    flex-direction: column;
}

.skills-box-learning {
    margin-top: 30px;
}

.skills-box-title {
    font-size: 25px;
    background-color: #373a40;
    padding: 10px 15px;
}

.skills-box-content-box {
    display: flex;
    justify-content: flex-start;
    padding: 0.65rem 1rem;
    background-color: #eeeeee;

    @media (max-width: 1470px) {
        flex-direction: column;
    }
}

.skills-box-content {
    margin: 0.012rem 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: gray 3px 3px 3px;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: white;
    cursor: default;

    @media (max-width: 1470px) {
        margin: 0.5rem;
    }
}

.skills-box-stack-icon {
    margin-right: 15px;
    max-height: 55px;
}

.skills-box-stack-info {
    color: black;
    font-size: 20px;
    text-shadow: none;
}

.skills-box-stack-info-details {
    color: black;
    margin-left: 15px;
}

@include mobile {
    .skills-box-stack-icon {
        max-height: 40px;
    }

    .skills-box-content-box {
        flex-direction: column;
    }

    .skills-box-content {
        margin: 10px 0;
    }

    .skills-box-stack-info-details {
        display: none;
    }
}

@include tablet {
    .skills-box-stack-icon {
        max-height: 50px;
    }

    .skills-box-content-box {
        flex-direction: column;
    }

    .skills-box-content {
        margin: 15px 0;
    }
}
