@charset "UTF-8";
.page-title {
  color: #dd4a68;
  font-size: 50px;
  border-bottom: 5px solid white;
  padding-bottom: 5px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-shadow: gray 5px 5px 5px;
}

.menu-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: 5.5vh;
  border: 2px solid white;
  border-left: none;
  border-radius: 0 15px 15px 0;
  padding: 6px;
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-animation-timing-function: ease all;
          animation-timing-function: ease all;
  background-color: #dd4a68;
}

.menu-contents {
  font-size: 1.2rem;
  margin: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-contents:hover {
  color: black;
}

@-webkit-keyframes slideIn {
  from {
    left: -400px;
  }
  to {
    left: 0;
  }
}

@keyframes slideIn {
  from {
    left: -400px;
  }
  to {
    left: 0;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 25px;
}

.name {
  margin-right: 40px;
  font-size: 2.112rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.name:hover {
  color: black;
}

.navigation-container {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation-text {
  margin: 0.1rem 0.8rem;
  font-size: 1.112rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navigation-text:hover {
  color: black;
}

.fa-bars {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .name {
    font-size: 1rem;
    margin-right: 0;
  }
  .navigation-container {
    display: none;
  }
  .fa-bars {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .name {
    font-size: 1.5rem;
  }
  .navigation-text {
    margin: 0.1rem 0.5rem;
    font-size: 0.9rem;
  }
}

.page-home {
  word-break: keep-all;
  width: 68%;
}

.main-catchphrase {
  font-size: 3rem;
  line-height: 3em;
}

.strong-word {
  font-size: 5rem;
}

.main-scroll-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.main-scroll-icon {
  width: 37px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-scroll-icon-down {
  content: "";
  background-color: white;
  border-radius: 50px;
  height: 15px;
  width: 5px;
  margin-top: 5px;
  -webkit-animation: MoveScroll 1s ease-in-out infinite;
          animation: MoveScroll 1s ease-in-out infinite;
}

@-webkit-keyframes MoveScroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: 95%;
  }
}

@keyframes MoveScroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: 95%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-catchphrase {
    font-size: 1.7rem;
  }
  .strong-word {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-catchphrase {
    font-size: 2rem;
  }
  .strong-word {
    font-size: 4rem;
  }
}

.page-about {
  background-color: #373a40;
}

.page-container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-catchphrase {
  width: 60%;
  font-size: 1.511rem;
  line-height: 3.112rem;
  margin-right: 30px;
}

.profile-img {
  border: 2px solid white;
  border-radius: 15px;
  -webkit-box-shadow: gray 15px 15px 15px;
          box-shadow: gray 15px 15px 15px;
  max-height: 500px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-catchphrase {
    width: 100%;
    font-size: 15px;
  }
  .profile-img {
    margin: 30px auto;
    max-height: none;
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-catchphrase {
    width: 100%;
    font-size: 1.228rem;
  }
  .profile-img {
    margin: 30px auto;
    max-height: none;
    width: 300px;
  }
}

.page-skills {
  background-color: #9fa0a3;
}

.page-skills h1 {
  margin-bottom: 1.2rem;
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-box-learning {
  margin-top: 30px;
}

.skills-box-title {
  font-size: 25px;
  background-color: #373a40;
  padding: 10px 15px;
}

.skills-box-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.65rem 1rem;
  background-color: #eeeeee;
}

@media (max-width: 1470px) {
  .skills-box-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills-box-content {
  margin: 0.012rem 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
  border-radius: 15px;
  padding: 0.35rem 0.85rem;
  background-color: white;
  cursor: default;
}

@media (max-width: 1470px) {
  .skills-box-content {
    margin: 0.5rem;
  }
}

.skills-box-stack-icon {
  margin-right: 15px;
  max-height: 55px;
}

.skills-box-stack-info {
  color: black;
  font-size: 20px;
  text-shadow: none;
}

.skills-box-stack-info-details {
  color: black;
  margin-left: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .skills-box-stack-icon {
    max-height: 40px;
  }
  .skills-box-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-box-content {
    margin: 10px 0;
  }
  .skills-box-stack-info-details {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skills-box-stack-icon {
    max-height: 50px;
  }
  .skills-box-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-box-content {
    margin: 15px 0;
  }
}

.fa-caret-square-left {
  left: -36px;
  font-size: 2rem;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.fa-caret-square-left:before {
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.fa-caret-square-left:hover {
  opacity: 0.5;
}

.fa-caret-square-right {
  right: -28px;
  font-size: 2rem;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.fa-caret-square-right:before {
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.fa-caret-square-right:hover {
  opacity: 0.5;
}

.custom-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.custom-dots li {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}

.custom-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 40px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.custom-dots li button:before {
  font-family: "slick";
  font-size: 2rem;
  line-height: 20px;
  position: absolute;
  top: 10px;
  left: 8px;
  width: 20px;
  height: 20px;
  content: "✉️";
  text-align: center;
  opacity: 0.9;
  color: gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-dots li button:hover {
  opacity: 0.65;
}

.custom-dots li.slick-active button:before {
  opacity: 1;
  color: #ffffff;
  content: "📨";
}

.custom-dots li.slick-active button:hover {
  opacity: 1;
}

.page-project {
  background-color: #373a40;
}

.project-container {
  background-color: #9fa0a3;
  padding: 40px;
}

.project-title {
  color: white;
  background-color: #9fa0a3;
  padding: 15px;
  margin-bottom: 0;
}

.project-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  padding: 20px;
  min-height: 54vh;
}

@media (max-width: 1470px) {
  .project-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-thumbnail {
  min-width: 540px;
  min-height: 303.75px;
  max-width: 540px;
  max-height: 303.75px;
  -webkit-box-shadow: gray 5px 5px 5px;
          box-shadow: gray 5px 5px 5px;
  border-radius: 15px;
}

.project-content {
  color: black;
  font-size: 1.2rem;
  margin: 15px 30px;
}

.project-content li {
  padding: 0.8rem 0;
}

.project-summary p {
  margin: 0;
}

@media (max-width: 1470px) {
  .project-summary {
    text-align: center;
  }
}

.project-text-title {
  padding-bottom: 3px;
  margin-bottom: 0;
  border-bottom: 3px solid #dd4a68;
}

.project-stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-stack-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  background-color: white;
  -webkit-box-shadow: gray 1px 1px 1px;
          box-shadow: gray 1px 1px 1px;
  border-radius: 15px;
  padding: 0.2rem 0.8rem;
}

.project-stack-box .project-text {
  font-size: 12px;
}

.project-stack-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.project-link-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.project-link-box:hover {
  color: #dd4a68;
}

.project-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.project-list-container .fa-door-closed,
.project-list-container .fa-door-open {
  padding: 2.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .project-thumbnail {
    margin: 0 auto;
    min-width: 220px;
    max-width: 220px;
    min-height: 123.75px;
    max-height: 123.75px;
  }
  .project-content {
    font-size: 0.8rem;
  }
  .project-stack-box {
    margin: 0.5rem;
  }
  .project-stack-box .project-stack-icon {
    width: 20px;
    height: 20px;
  }
  .project-stack-box .project-text {
    font-size: 0.5rem;
  }
  .project-stack-icon {
    width: 30px;
    height: 30px;
  }
  .project-summary {
    font-size: 0.75rem;
  }
  ul {
    font-size: 0.5rem;
    padding: 0.5rem;
  }
  .project-link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-link-box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .project-link-box .project-text {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .project-link-box .fa-globe-asia,
  .project-link-box .fa-github,
  .project-link-box .fa-bold {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-thumbnail {
    margin: 0 auto;
    min-width: 370px;
    min-height: 208.125px;
    max-width: 370px;
    max-height: 208.125px;
  }
}

.page-contact {
  background-color: white;
  color: #dd4a68;
}

.contact-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-text {
  font-size: 3rem;
  margin: 2rem 2rem 0 2rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.email-text:hover {
  color: #dd4a68;
}

.contact-content-box:hover {
  color: #dd4a68;
}

.contact-text {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contact-text:hover {
  color: #dd4a68;
}

.fa-github,
.fa-bold,
.fa-file,
.fa-globe-asia {
  margin-right: 0.5rem;
}

.contact-catchphrase {
  font-size: 1.112rem;
  opacity: 0.5;
  margin: 5rem;
}

.contact-link-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.go-top-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 75vw;
  top: 25vh;
  width: 50px;
  height: 50px;
  border: 3px solid #dd4a68;
  border-radius: 12px;
  cursor: pointer;
  z-index: 999;
}

.go-top-button-icon {
  position: absolute;
  font-size: 1.55rem;
  font-family: "Blacksword";
  color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact-text {
    font-size: 1rem;
  }
  .email-text {
    font-size: 2.2rem;
  }
  .contact-catchphrase {
    font-size: 0.8rem;
    margin: 4rem 0;
  }
  .go-top-button-container {
    left: 63vw;
    top: 15vh;
  }
}

header {
  z-index: 999;
  background-color: #dd4a68;
  padding: 15px 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  background-color: #dd4a68;
  color: white;
  word-break: keep-all;
}

section {
  padding: 10vh 15vw;
  min-height: 80vh;
}
/*# sourceMappingURL=App.css.map */