@import "./components/PageStyle";
@import "./components/Header";
@import "./components/Home";
@import "./components/About";
@import "./components/Skills";

header {
    z-index: 999;
    background-color: #dd4a68;
    padding: 15px 60px;
    position: sticky;
    top: 0;
}

body {
    background-color: #dd4a68;
    color: white;
}

section {
    padding: 12vh 15vw;
}
