.page-title {
  color: #dd4a68;
  font-size: 50px;
  border-bottom: 5px solid white;
  padding-bottom: 5px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-shadow: gray 5px 5px 5px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 25px;
}

.name-box {
  margin-right: 40px;
  font-size: 2.112rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.navigation-container {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation-text {
  margin: 0.6rem;
  font-size: 1.112rem;
}

.fa-bars {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .name-box {
    font-size: 1.4rem;
  }
  .navigation-container {
    display: none;
  }
  .fa-bars {
    display: inline-block;
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation-text {
    margin: 0.6rem;
    font-size: 0.9rem;
  }
}

.main-catchphrase {
  word-break: keep-all;
  width: 68%;
  font-size: 4rem;
  line-height: 2.5em;
}

.strong-word {
  font-size: 7rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-catchphrase {
    font-size: 1.7rem;
  }
  .strong-word {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-catchphrase {
    font-size: 2em;
  }
  .strong-word {
    font-size: 4rem;
  }
}

.page-about {
  background-color: #373a40;
}

.page-container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-catchphrase {
  width: 60%;
  font-size: 2rem;
  line-height: 3.112rem;
  margin-right: 30px;
}

.profile-img {
  border: solid 5px white;
  border-radius: 15px;
  -webkit-box-shadow: gray 15px 15px 15px;
          box-shadow: gray 15px 15px 15px;
  max-height: 500px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-catchphrase {
    width: 100%;
    font-size: 15px;
  }
  .profile-img {
    margin: 30px auto;
    max-height: none;
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-catchphrase {
    width: 100%;
    font-size: 1.228rem;
  }
  .profile-img {
    margin: 30px auto;
    max-height: none;
    width: 300px;
  }
}

.page-skills {
  background-color: #9fa0a3;
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-box-title {
  font-size: 25px;
  background-color: #373a40;
  padding: 10px 15px;
}

.skills-box-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 18px 15px;
  background-color: #eeeeee;
}

.skills-box-content {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-box-stack-icon {
  margin-right: 15px;
  max-height: 55px;
}

.skills-box-stack-info {
  color: black;
  font-size: 20px;
  text-shadow: none;
}

.skills-box-stack-info-details {
  color: black;
  margin-left: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .skills-box-stack-icon {
    max-height: 40px;
  }
  .skills-box-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-box-content {
    margin: 10px 0;
  }
  .skills-box-stack-info-details {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skills-box-stack-icon {
    max-height: 50px;
  }
  .skills-box-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-box-content {
    margin: 15px 0;
  }
}

.project-page {
  background-color: #373a40;
}

.project-container {
  background-color: #9fa0a3;
  padding: 40px;
}

.project-title {
  color: white;
  background-color: #9fa0a3;
  padding: 15px;
  margin-bottom: 0;
}

.project-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  padding: 35px;
  min-height: 50vh;
}

@media (max-width: 1300px) {
  .project-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-thumbnail {
  min-width: 480px;
  min-height: 270px;
  max-width: 480px;
  max-height: 270px;
  background-color: #dd4a68;
}

.project-content {
  color: black;
  font-size: 1.2rem;
  margin: 15px;
}

.project-stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-stack-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.project-stack-icon {
  width: 50px;
  height: 50px;
  background-color: #dd4a68;
  margin-right: 5px;
}

.project-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.project-list-container .fa-door-closed,
.project-list-container .fa-door-open {
  padding: 2.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .project-thumbnail {
    margin: 0 auto;
    min-width: 170px;
    max-width: 170px;
    min-height: 95.625px;
    max-height: 95.625px;
  }
  .project-content {
    font-size: 0.8rem;
  }
  .project-stack-icon {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-thumbnail {
    margin: 0 auto;
    min-width: 370px;
    min-height: 208.125px;
    max-width: 370px;
    max-height: 208.125px;
  }
}

.page-contact {
  background-color: white;
  color: #dd4a68;
}

.contact-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-text {
  font-size: 3rem;
  margin: 6.5rem 1.2rem;
}

.contact-catchphrase {
  font-size: 1.112rem;
  opacity: 0.5;
}

.contact-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact-text {
    font-size: 1.26rem;
    margin: 30px 10px;
  }
  .contact-catchphrase {
    font-size: 0.9rem;
  }
}

header {
  z-index: 999;
  background-color: #dd4a68;
  padding: 15px 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  background-color: #dd4a68;
  color: white;
  word-break: keep-all;
}

section {
  padding: 3vh 15vw;
  min-height: 90vh;
}
/*# sourceMappingURL=App.css.map */