@import "./mixin";
@import "./view/PageStyle";
@import "./view/Header";
@import "./view/Home";
@import "./view/About";
@import "./view/Skills";
@import "./view/Project";
@import "./view/Contact";

header {
    z-index: 999;
    background-color: #dd4a68;
    padding: 15px 60px;
    position: sticky;
    top: 0;
}

body {
    background-color: #dd4a68;
    color: white;
    word-break: keep-all;
}

section {
    padding: 2vh 15vw;
    min-height: 90vh;
}
